---
import type { BookmarkItem } from '@/types';
import { Image } from 'astro:assets';

interface Props {
  bookmarks: BookmarkItem[];
  className?: string;
}

const { bookmarks, className } = Astro.props;
---

<div class:list={['bg-base grid gap-x-2 p-2 sm:grid-cols-2 rounded-xl border border-surface0', [className]]}>
  {
    bookmarks.map(({ url, image, name, excerpt, invertDark }) => (
      <a
        href={url}
        target='_blank'
        rel='noreferrer'
        class='flex flex-row items-center p-4 gap-4 transition-colors duration-300 hover:bg-surface0 rounded-lg'
      >
        {image && (
          <Image
            src={image}
            alt={name}
            width={30}
            height={30}
            loading='eager'
            class:list={['rounded-md h-auto z-20', { 'dark:invert': invertDark }]}
          />
        )}
        <div class='flex flex-col gap-1'>
          <div class='font-normal'>
            <span class='font-medium text-[0.95rem]'>{name}</span>
          </div>
          <div class='text-slate-500 text-[0.9rem]'>{excerpt}</div>
        </div>
      </a>
    ))
  }
</div>
